.card{
  background-color : white;
  /* margin:10px; */
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  margin-bottom:10px;
  width: 50%;
  height : 50%;
}

.center-text {
  text-align: center;
}